<% layout("../layouts/sk8tt.ejs")%>
<form action="/spots/<%=spot._id%>?_method=PUT" method="post">
    <div>
        <label for="spot-title">Title</label>
        <input id="spot-title" type="text" name="spot[title]" value="<%=spot.title%>">
    </div>
    <div>
        <label for="spot-location">Location</label>
        <input id="spot-location" type="text" name="spot[location]" value="<%=spot.location%>">
    </div>  
    <button type="submit">Update Spot</button>
    <a href="/">Cancel</a>
</form>
